/frontend/node_modules/
/frontend/dist/
/shopfrontend/node_modules/
/shopfrontend/dist/
/shopbackend/data/
/shopbackend/__pycache__/
/shopbackend/.venv/
/shopbackend/run.ps1
/backend/.env
/backend/.env.local
/backend/__pycache__
backend/**/__pycache__
backend/utils/__pycache__/video_merge.cpython-312.pyc
backend/utils/__pycache__/video_merge.cpython-312.pyc
