/frontend/node_modules/
/frontend/dist/
/shop/shopfrontend/node_modules/
/shop/shopfrontend/dist/
/shop/shopbackend/data/
/shop/shopbackend/__pycache__/
/shop/shopbackend/.venv/
/shop/shopbackend/run.ps1
/backend/.env
/backend/.env.local
/backend/__pycache__
backend/**/__pycache__
backend/utils/__pycache__/video_merge.cpython-312.pyc
backend/utils/__pycache__/video_merge.cpython-312.pyc
